<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FK</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

    <center>
    <h1>FAKULTAS KEDOKTERAN</h1>
    </center>
    
    <h2>Jurusan yang terdapat dalam Fakultas KEDOKTERAN, terdiri dari:</h2>
    <p>1. Kedokteran</p>
    <p>2. Keperawatan</p>
    <p>3. Ilmu Olahraga</p>
    <p>4. Gizi</p>

    {{ judul }} <br>

{% endblock %}
</body>
</html> 